USE [master]
GO
/****** Object:  Database [GESTION]    Script Date: 12/05/2025 20:20:44 ******/
CREATE DATABASE [GESTION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GESTION_Data', FILENAME = N'C:\SQLdata\MSSQL16.SQLEXPRESS\MSSQL\DATA\GESTION.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GESTION_Log', FILENAME = N'C:\SQLdata\MSSQL16.SQLEXPRESS\MSSQL\DATA\GESTION.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GESTION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GESTION]
GO
/****** Object:  Table [dbo].[tbl_alumnos]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_alumnos](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NULL,
	[pais] [int] NOT NULL,
	[provincia] [int] NOT NULL,
	[sexo] [int] NOT NULL,
	[estado_civil] [int] NOT NULL,
	[carrera] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_carreras]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_carreras](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_estado_civil]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_estado_civil](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_materias]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_materias](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_materias_cursadas]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_materias_cursadas](
	[id] [int] NOT NULL,
	[alumno] [int] NOT NULL,
	[carrera] [int] NOT NULL,
	[materia] [int] NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_materias_rendidas]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_materias_rendidas](
	[id] [int] NOT NULL,
	[alumno] [int] NOT NULL,
	[carrera] [int] NOT NULL,
	[materia] [int] NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_paises]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_paises](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_plan_estudio]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_plan_estudio](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[carrera] [int] NOT NULL,
	[fecha] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_provincias]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_provincias](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[pais] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sexo]    Script Date: 12/05/2025 20:20:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sexo](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_alumnos]  WITH CHECK ADD  CONSTRAINT [FK_alumnos_carrera] FOREIGN KEY([carrera])
REFERENCES [dbo].[tbl_carreras] ([id])
GO
ALTER TABLE [dbo].[tbl_alumnos] CHECK CONSTRAINT [FK_alumnos_carrera]
GO
ALTER TABLE [dbo].[tbl_alumnos]  WITH CHECK ADD  CONSTRAINT [FK_alumnos_estado_civil] FOREIGN KEY([estado_civil])
REFERENCES [dbo].[tbl_estado_civil] ([id])
GO
ALTER TABLE [dbo].[tbl_alumnos] CHECK CONSTRAINT [FK_alumnos_estado_civil]
GO
ALTER TABLE [dbo].[tbl_alumnos]  WITH CHECK ADD  CONSTRAINT [FK_alumnos_pais] FOREIGN KEY([pais])
REFERENCES [dbo].[tbl_paises] ([id])
GO
ALTER TABLE [dbo].[tbl_alumnos] CHECK CONSTRAINT [FK_alumnos_pais]
GO
ALTER TABLE [dbo].[tbl_alumnos]  WITH CHECK ADD  CONSTRAINT [FK_alumnos_provincia] FOREIGN KEY([provincia])
REFERENCES [dbo].[tbl_provincias] ([id])
GO
ALTER TABLE [dbo].[tbl_alumnos] CHECK CONSTRAINT [FK_alumnos_provincia]
GO
ALTER TABLE [dbo].[tbl_alumnos]  WITH CHECK ADD  CONSTRAINT [FK_alumnos_sexo] FOREIGN KEY([sexo])
REFERENCES [dbo].[tbl_sexo] ([id])
GO
ALTER TABLE [dbo].[tbl_alumnos] CHECK CONSTRAINT [FK_alumnos_sexo]
GO
ALTER TABLE [dbo].[tbl_materias_cursadas]  WITH CHECK ADD  CONSTRAINT [FK_cursadas_alumno] FOREIGN KEY([alumno])
REFERENCES [dbo].[tbl_alumnos] ([id])
GO
ALTER TABLE [dbo].[tbl_materias_cursadas] CHECK CONSTRAINT [FK_cursadas_alumno]
GO
ALTER TABLE [dbo].[tbl_materias_cursadas]  WITH CHECK ADD  CONSTRAINT [FK_cursadas_carrera] FOREIGN KEY([carrera])
REFERENCES [dbo].[tbl_carreras] ([id])
GO
ALTER TABLE [dbo].[tbl_materias_cursadas] CHECK CONSTRAINT [FK_cursadas_carrera]
GO
ALTER TABLE [dbo].[tbl_materias_cursadas]  WITH CHECK ADD  CONSTRAINT [FK_cursadas_materia] FOREIGN KEY([materia])
REFERENCES [dbo].[tbl_materias] ([id])
GO
ALTER TABLE [dbo].[tbl_materias_cursadas] CHECK CONSTRAINT [FK_cursadas_materia]
GO
ALTER TABLE [dbo].[tbl_materias_rendidas]  WITH CHECK ADD  CONSTRAINT [FK_rendidas_alumno] FOREIGN KEY([alumno])
REFERENCES [dbo].[tbl_alumnos] ([id])
GO
ALTER TABLE [dbo].[tbl_materias_rendidas] CHECK CONSTRAINT [FK_rendidas_alumno]
GO
ALTER TABLE [dbo].[tbl_materias_rendidas]  WITH CHECK ADD  CONSTRAINT [FK_rendidas_carrera] FOREIGN KEY([carrera])
REFERENCES [dbo].[tbl_carreras] ([id])
GO
ALTER TABLE [dbo].[tbl_materias_rendidas] CHECK CONSTRAINT [FK_rendidas_carrera]
GO
ALTER TABLE [dbo].[tbl_materias_rendidas]  WITH CHECK ADD  CONSTRAINT [FK_rendidas_materia] FOREIGN KEY([materia])
REFERENCES [dbo].[tbl_materias] ([id])
GO
ALTER TABLE [dbo].[tbl_materias_rendidas] CHECK CONSTRAINT [FK_rendidas_materia]
GO
ALTER TABLE [dbo].[tbl_plan_estudio]  WITH CHECK ADD  CONSTRAINT [FK_plan_carrera] FOREIGN KEY([carrera])
REFERENCES [dbo].[tbl_carreras] ([id])
GO
ALTER TABLE [dbo].[tbl_plan_estudio] CHECK CONSTRAINT [FK_plan_carrera]
GO
ALTER TABLE [dbo].[tbl_provincias]  WITH CHECK ADD  CONSTRAINT [FK_provincias_pais] FOREIGN KEY([pais])
REFERENCES [dbo].[tbl_paises] ([id])
GO
ALTER TABLE [dbo].[tbl_provincias] CHECK CONSTRAINT [FK_provincias_pais]
GO
USE [master]
GO
